* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root {
    --main-color: #d10024;
    --sec-color: #E4E7ED;
}
Body {
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 1023px) {
    nav .act {
        transform: translateX(250px)!important;
    }
}
.hot-deal {
    background-image: url(../Assets/hotdeal.png);
}